#override("title")
初夏工作室
#end
#override("content")
<style>

    body {
        background-color: #ffffff;
    }
</style>
<link rel="stylesheet" href="#springUrl('/static/css/ydui.css?rev=@@hash')"/>

<!--<div class="glass">-->
<!--</div>-->

<header class="m-navbar">
    <a href="#" class="navbar-item" onClick="javascript :history.back(-1);">
        <i class="back-ico"></i>
    </a>
    <div class="navbar-center">
        <!--<span class="navbar-title">已预约</span>-->
    </div>


    <!--<a href="#" class="navbar-item">-->
    <!--<i class="next-ico"></i>-->
    <!--</a>-->
</header>

<!--选项卡-->
<div class="m-tab" data-ydui-tab><!-- 这里添加data-ydui-tab就可以啦 -->
    <ul class="tab-nav">
        <li class="tab-nav-item tab-active"><a href="javascript:;">已预约</a></li>
        <li class="tab-nav-item"><a href="javascript:;">待上门</a></li>
        <li class="tab-nav-item"><a href="javascript:;">已完成</a></li>
        <li class="tab-nav-item"><a href="javascript:;">待评价</a></li>
    </ul>
    <div class="tab-panel" >
        <div class="tab-panel-item tab-active">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">预约金额</label>
                    <em class="weui-form-preview__value">¥2400.00</em>
                </div>
                <div class="weui-form-preview__bd">
                    <p>
                        <label class="weui-form-preview__label">预约类型</label>
                        <span class="weui-form-preview__value">预约上门</span>
                    </p>
                    <p>
                        <label class="weui-form-preview__label">预约产品</label>
                        <span class="weui-form-preview__value">蔻丹</span>
                    </p>
                    <p>
                        <label class="weui-form-preview__label">设计师</label>
                        <span class="weui-form-preview__value">夏老师</span>
                    </p>
                    <p>
                        <label class="weui-form-preview__label">预约时间</label>
                        <span class="weui-form-preview__value">2018年4月20日17:00-19:00</span>
                    </p>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">查看详情</a>
                    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"
                            href="javascript:">操作
                    </button>
                </div>
            </div>

        </div>
        <div class="tab-panel-item">222222</div>
        <div class="tab-panel-item">333333</div>
        <div class="tab-panel-item">444444</div>
    </div>
</div>

#end
#extends("/common/wechatframework.html")
