<component name="ArtifactManager">
  <artifact type="war" name="SpringWind:war">
    <output-path>$PROJECT_DIR$/SpringWind/target</output-path>
    <root id="archive" name="SpringWind.war">
      <element id="artifact" artifact-name="SpringWind:war exploded" />
    </root>
  </artifact>
</component>