<!DOCTYPE html>
<html>
<head>
    #parse("/common/locationheader.html")
    <link href="#springUrl('/static/js/plugins/gritter/jquery.gritter.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/person.css')" rel="stylesheet">
    #block("css")#end
</head>
<body ontouchstart>
<div class="page__bd" style="height: 100%;">
    #block("content")#end
</div>

<script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
<script src="#springUrl('/static/js/ydui.js')"></script>
<script src="#springUrl('/static/js/weui.js')"></script>
<script src="#springUrl('/static/js/plugins/weui/jweixin-1.0.0.js')"></script>
<script src="#springUrl('/static/js/plugins/slimscroll/jquery.slimscroll.min.js')"></script>
<script src="#springUrl('/static/js/plugins/gritter/jquery.gritter.min.js')"></script>
<script src="#springUrl('/static/js/zepto.min.js')"></script>
<script src="#springUrl('/static/js/plugins/pace/pace.min.js')"></script>
<script src="#springUrl('/static/js/plugins/gritter/jquery.gritter.min.js')"></script>
<script src="#springUrl('/static/js/wechat_base.js')"></script>
<script src="#springUrl('/static/js/swiper-4.1.0.min.js')"></script>
<!--<script src="#springUrl('/static/js/jquery-weui.min.js')"></script>-->
#block("js")#end
</body>
</html>