<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.ClassifyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Classify">
		<id column="id" property="id" />
		<result column="c_name" property="cName" />
		<result column="c_img" property="cImg" />
		<result column="c_status" property="cStatus" />
		<result column="c_sort" property="cSort" />
		<result column="c_url" property="cUrl" />
	</resultMap>

</mapper>
