<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.CreditsDetailedMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.CreditsDetailed">
		<id column="id" property="id" />
		<result column="custom_id" property="customId" />
		<result column="order_id" property="orderId" />
		<result column="type_id" property="typeId" />
		<result column="crTime" property="crTime" />
	</resultMap>

</mapper>
