<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.GameMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Game">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="image" property="image" />
		<result column="url" property="url" />
		<result column="title" property="title" />
		<result column="description" property="description" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="playcount" property="playcount" />
		<result column="tel" property="tel" />
	</resultMap>

	<select id="selectGameList" resultType="Game">
		SELECT * FROM game
	</select>
	<select id="selectJishiById" resultType="Game">
		SELECT * FROM game WHERE jishiid = #{jishiid}
	</select>
</mapper>
