.my-info .my-avatar {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 98px;
    height: 98px;
    margin: -70px 0 0 -49px;
    border-radius: 50%;
    border: solid 4px rgba(255, 255, 255, 0.5);
}

.my-info .name {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin: 40px 0 0 -100px;
    text-align: center;
    color: #fff;
}

.my-info .my-vip {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 200px;
    height: 24px;
    line-height: 24px;
    margin: 70px 0 0 -100px;
    padding: 0 4px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.my-info-background {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}